<div ng-attr-id="{{ctrl.id}}" class="modal" >
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		
			<div class="modal-header">
				<h4 class="modal-title">{{ctrl.title}}</h4>
			</div>
			
			<div class="modal-body" style="padding: 0" ng-transclude>

			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-fechar pull-left" ng-click="ctrl.cancel()">Cancelar</button>
				<button type="button" class="btn btn-primary" ng-click="ctrl.save()" ng-if="ctrl.canSave != 'false'" >Salvar</button>
			</div>
			
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->