
<div class="content" ng-init="atualizarNomeTela('Categorias de cobrança')">

	<div class="row">
		<div class="col-lg-4">
			<button type="button" class="btn btn-novo" ng-click="incluir()">Incluir novo</button>
		</div>
	</div>

	<table id="tabela-principal" data-toggle="table" data-striped="true"
		data-sortable="true" data-classes="table table-hover table-condensed"
		data-refresh="true">
		<thead>
			<tr>
				<th data-field="descricao" data-sortable="true">Descrição</th>
				<th data-field="planoConta.descricaoFormatada" data-sortable="true">Conta
					contábil</th>
				<th data-field="situacao" data-formatter="acertarSituacao"
					data-sortable="true">Situação</th>
				<th data-formatter="editarFormatter" class="th-span"></th>
				<th data-formatter="excluirFormatter" class="th-span"></th>
			</tr>
		</thead>
	</table>

</div>


<!-- Modais -->
<div id="modal_edicao" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Categoria de cobrança</h4>
			</div>
			<div class="modal-body" style="padding: 0">

				<div class="row row-form">
					<div class="col-md-12 col-lg-12">
						<label>Descrição</label> <input class="form-control"
							ng-model="registro.descricao" type="text" />
					</div>
				</div>

				<div class="row row-form">
					<div class="col-md-12 col-lg-12">
						<label>Conta contábil</label> <select class="form-control"
							ng-options="item as item.descricaoFormatada for item in planosDeConta track by item.id"
							ng-model="registro.planoConta">
							<option value="">---- NÃO DEFINIDO ----</option>
						</select>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-salvar" ng-click="salvar()">Salvar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
