
<div class="content" ng-init="atualizarNomeTela('Formas de Pagamento')">

	<div class="row">
		<div class="col-lg-4">
			<button type="button" class="btn btn-novo" ng-click="incluir()">Incluir novo</button>
		</div>
	</div>

	<table id="tabela-principal" data-toggle="table" data-striped="true"
		data-sortable="true" data-classes="table table-hover table-condensed"
		data-refresh="true">
		<thead>
			<tr>
				<th data-field="tipoPagamento" data-formatter="tipoPagamentoFormatter" data-sortable="true">Forma de pagamento</th>
				<th data-field="descricao" data-sortable="true">Condição de pagamento</th>
				<th data-formatter="editarFormatter" class="th-span"></th>
				<th data-formatter="excluirFormatter" class="th-span"></th>
			</tr>
		</thead>
	</table>

</div>

<!-- Modais -->
<div id="modal_edicao" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Forma de pagamento</h4>
			</div>
			<div class="modal-body" style="padding: 0">

				<div class="row row-form">
					<div class="col-md-12 col-lg-12">
						<label>Forma de Pagamento</label> <select class="form-control"
							ng-model="registro.tipoPagamento">
							<option value="">--- Selecione ---</option>
							<option value="B">Boleto</option>
							<option value="C">Cartão de crédito</option>
							<option value="D">Cartão de débito</option>
							<option value="N">Cartão BNDES</option>
							<option value="E">Depósito</option>
							<option value="D">Dinheiro</option>
							<option value="P">Permuta</option>
							<option value="Q">Cheque</option>
						</select>
					</div>
				</div>
				<div class="row row-form">
					<div class="col-md-12 col-lg-12">
						<label>Condição de pagamento</label> <input class="form-control"
							ng-model="registro.descricao" type="text" />
					</div>
				</div>
				<div class="row row-form">
					<div class="col-md-12 col-lg-12">
						<label>Token do gatway de pagamento</label> <input
							class="form-control" ng-model="registro.token" type="text" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-salvar" ng-click="salvar()">Salvar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
