

<div class="content" ng-init="atualizarNomeTela('Maquina')">

	<div class="row">
		<div class="col-lg-4">
			<button type="button" class="btn btn-novo" ng-click="incluir()">Incluir novo</button>
		</div>
	</div>
	
	<table id="tabela-principal" data-toggle="table"
		data-striped="true"
		data-classes="table table-hover table-condensed">
		<thead>
			<tr>
				<th data-field="codigo" data-sortable="true">Código</th>
				<th data-field="descricao" data-sortable="true">Descrição</th>
				<th data-field="custoImpressaoPB"data-formatter="moneyFormatter" data-sortable="true">Custo impressão PB</th>
				<th data-field="custoImpressaoColorida" data-formatter="moneyFormatter" data-sortable="true">Custo impressão colorida</th>
<!-- 
				<th data-field="cidade.descricao" data-sortable="true">Cidade</th>
				<th data-field="estado.uf" data-sortable="true">UF</th>
 -->				
	
				<th data-formatter="editarFormatter" class="th-span"></th>
				<th data-formatter="excluirFormatter" class="th-span"></th>
			</tr>
		</thead>
	</table>

</div>

<!-- Modais -->


<div id="modal_edicao" class="modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">				
				<h4 class="modal-title">Maquinas <small>{{registro.codigol}}</small></h4>
			</div>
			<div class="modal-body" style="padding: 0">

				<div class="row row-form">
					<div class="col-sm-3 col-md-3">
						<label class="label-form">Código</label> 
						<input class="form-control" ng-model="registro.codigo" type="text" />
					</div>
					<div class="col-sm-10 col-md-10">
						<label class="label-form">Descrição</label> 
						<input class="form-control" ng-model="registro.descricao" type="text" />
					</div>	
				</div>		
						
				<div class="row row-form">
					<div class="col-sm-5 col-md-5">
						<label class="label-form">Custo impressão PB</label> 
						<input class="form-control" ui-number-mask="2" ng-model="registro.custoImpressaoPB" type="text" />
					</div>	
					<div class="col-sm-5 col-md-5">
						<label class="label-form">custo impressao colorida</label> 
						<input class="form-control" ui-number-mask="2" ng-model="registro.custoImpressaoColorida" type="text" />
					</div>
				</div>
			
				<div class="row row-form">
					<div class="col-sm-9 col-md-9">
						<label class="label-form">Complemento</label> 
						<input class="form-control" maxlength="256" ng-model="registro.complemento" type="text" />
					</div>
				</div>

			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-salvar" ng-click="salvar()">Salvar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>