
<div class="content" ng-init="atualizarNomeTela('Notificação')">

	<div class="row">
		<div class="col-lg-4">
			<button type="button" class="btn btn-novo" ng-click="incluir()">Incluir novo</button>
		</div>
	</div>

	<table id="tabela-principal" data-striped="true" data-sortable="true"
		data-classes="table table-striped table-hovertable-condensed" data-refresh="true"
		data-filter-control="true">
		<thead>
			<tr>
				<th data-field="descricao" data-sortable="true" data-filter-control="input">Descrição</th>
				<th data-field="descricaoGatilho" data-sortable="true" data-filter-control="input">Gatilho</th>
				<th data-field="sePortal" data-formatter="simNaoFormatter" data-sortable="true" data-filter-control="select">Se Portal</th>
				<th data-field="sePush" data-formatter="simNaoFormatter" data-sortable="true" data-filter-control="select">Se Push</th>
				<th data-field="seEmail" data-formatter="simNaoFormatter" data-sortable="true" data-filter-control="select">Se Email</th>
				<th data-formatter="editarFormatter" class="th-span"></th>
				<th data-formatter="excluirFormatter" class="th-span"></th>
			</tr>
		</thead>
	</table>

</div>

<!-- Modais -->

<div id="modal_edicao" class="modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Notificação</h4>
			</div>
			<div class="modal-body" style="padding: 0px">

				<ul class="nav nav-tabs" role="tablist" style="padding-left: 25px; padding-top: 15px">
					<li class="nav-item" role="presentation" id="panel-geral">
						<a class="nav-link" href="" ng-click="ativarGeral()" aria-controls="geral" role="tab" data-toggle="tab">Geral</a>
					</li>
					<li class="nav-item"role="presentation" id="panel-portal">
						<a class="nav-link"href="" ng-click="ativarPortal()" aria-controls="portal" role="tab" data-toggle="tab">Portal</a>
					</li>
					<li class="nav-item" role="presentation" id="panel-push">
						<a class="nav-link"href="" ng-click="ativarPush()" aria-controls="push" role="tab" data-toggle="tab">Push</a>
					</li>
					<li class="nav-item" role="presentation" id="panel-email">
						<a class="nav-link" href="" ng-click="ativarEmail()" aria-controls="email" role="tab" data-toggle="tab">Email</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">

					<div role="tabpanel" class="tab-pane" id="tab-geral">

						<div class="row row-form">
							<div class="col-xs-6 col-lg-6">
								<label class="label-form control-label">Gatilho</label> 
								<select class="form-control" ng-model="registro.gatilho">
									<option value="">---- SELECIONE ----</option>
									<option ng-repeat="gatilho in gatilhos" value="{{ gatilho.value }}" ng-selected="registro.gatilho == gatilho.value">{{ gatilho.descricao }}</option>
								</select>
							</div>
						</div>

						<div class="row row-form">
							<div class="col-xs-12 col-lg-12">
								<label class="label-form control-label">Descrição</label> 
								<input class="form-control" ng-model="registro.descricao" type="text" />
							</div>
						</div>

						<div class="row row-form">
							<div class="col-xs-4 col-lg-4">
								<label class="label-form control-label">Enviar portal</label> 
								<select class="form-control" ng-model="registro.sePortal">
									<option value="S">Sim</option>
									<option value="N">Não</option>
								</select>
							</div>
							<div class="col-xs-4 col-lg-4">
								<label class="label-form control-label">Enviar push</label> 
								<select class="form-control" ng-model="registro.sePush">
									<option value="S">Sim</option>
									<option value="N">Não</option>
								</select>
							</div>
							<div class="col-xs-4 col-lg-4">
								<label class="label-form control-label">Enviar email</label> 
								<select class="form-control" ng-model="registro.seEmail">
									<option value="S">Sim</option>
									<option value="N">Não</option>
								</select>
							</div>
						</div>


					</div>
					<!-- /.tab-geral -->

					<div role="tabpanel" class="tab-pane" id="tab-portal">
						<div class="row row-form">
							<div class="col-xs-12 col-lg-12">
								<label class="label-form control-label">Título</label> 
								<input class="form-control" ng-model="registro.tituloPortal" type="text" />
							</div>
							<div class="col-xs-12 col-lg-12">
								<label class="control-label">Mensagem</label>
								<textarea rows="5" ng-model="registro.corpoPortal" class="form-control">{{registro.corpoPortal}}</textarea>
							</div>
						</div>
					</div>
					<!-- /.tab-portal -->

					<div role="tabpanel" class="tab-pane" id="tab-push">
						<div class="row row-form">
							<div class="col-xs-12 col-lg-12">
								<label class="label-form control-label">Título do push</label> 
								<input class="form-control" ng-model="registro.tituloPush" type="text" />
							</div>
							<div class="col-xs-12 col-lg-12">
								<label class="label-form control-label">Mensagem do push</label>
								<textarea rows="5" ng-model="registro.corpoPush" class="form-control">{{registro.corpoPush}}</textarea>
							</div>
						</div>
					</div>
					<!-- /.tab-push -->

					<div role="tabpanel" class="tab-pane" id="tab-email">
						<div class="row row-form">
							<div class="col-xs-12 col-lg-12">
								<label class="label-form control-label">Assunto</label> 
								<input class="form-control" ng-model="registro.assuntoEmail" type="text" />
							</div>
							<div class="col-xs-12 col-lg-12">
								<label class="label-form control-label">Mensagem</label>
								<textarea ui-tinymce="tinymceOptions" rows="10" ng-model="registro.corpoEmail" class="form-control">{{registro.corpoEmail}}</textarea>
							</div>
						</div>
					</div>
					<!-- /.tab-email -->

				</div>
				<!-- /.tab-content -->

			</div>
			<!-- /.modal-body -->

			<div class="modal-footer">
				<button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-salvar" ng-click="salvar()">Salvar</button>
			</div>
			<!-- /.modal-footer -->

		</div>
		<!-- /.modal-content -->

	</div>
	<!-- /.modal-dialog -->
</div>

