
<div class="content"
	ng-init="atualizarNomeTela('Comissões dos pedidos')">


		<div class="row row-filter" ng-init="filtro.posicaoPedido = posicaoPedido" style="margin-top: 5px;">

			<div class="form-group col-md-2 col-lg-2">
				<label class="control-label label-form">N° pedido</label>
				<input class="form-control" type="number" ng-model="filtro.numeroPedido" />
			</div>			
			
			<div class="form-group col-md-4 col-lg-4">
       			<label class="control-label label-form">Fornecedor</label>
       			<select class="form-control"  ng-options="item as item.nomeFantasia for item in fornecedores track by item.id" ng-model="filtro.fornecedor">
    				<option value="">---- SELECIONE ----</option>
    			</select>
            </div>
			
			<div class="form-group col-md-3 col-lg-3">
				<label class="control-label label-form">Conclusão(de)</label>
				<input class="form-control" ng-model="filtro.dataConclusaoInicial" type="date" />
			</div>
			
			<div class="form-group col-md-3 col-lg-3">
				<label class="control-label label-form">Conclusão(até)</label>
				<input class="form-control" ng-model="filtro.dataConclusaoFinal" type="date"/>
			</div>
		</div>			
		<div class="row"  style="margin-bottom: 5px;">
			<div class="col-md-12 col-lg-12">
				<button type="button" class="btn btn-novo" ng-click="atualizarTela()">Buscar</button>
			</div>
		</div>		

	<div class="row" style="font-weight: bold !important">
		<div class="col-lg-2">Pedido</div>
		<div class="col-lg-3">Cliente</div>
		<div class="col-lg-2" style="text-align:right">Valor do Pedido</div>
	</div>
	<div class="row" style="text-weight: bold; border-bottom: 1px solid black">
		<div class="col-lg-1">&nbsp;</div>
		<div class="col-lg-3">Vendedor</div>
		<div class="col-lg-1">%</div>
		<div class="col-lg-1">R$</div>
		
		<div class="col-lg-3">Preposto</div>
		<div class="col-lg-1">%</div>
		<div class="col-lg-1">R$</div>
		
		<div class="col-lg-1">Parcelas</div>
	</div>

	<div class="row" ng-repeat="pedido in pedidos" style="border-bottom: 1px dashed black; padding-bottom: 10px; padding-top: 15px;">
		<div class='col-lg-12'>
			<div class="row">
				<div class="col-lg-2">{{pedido.id}}</div>
				<div class="col-lg-3">{{pedido.cliente.nomeFantasia}}</div>
				<div class="col-lg-2" style="text-align:right">{{pedido.valorTotalGeral | currency :"R$" : 2}}</div>
			</div>
		</div>
		
		<div class='col-lg-12'>
			<div class="row">
				<div class="col-lg-1" style="vertical-align: middle;line-height: 30px;">&nbsp;</div>
				
				<div class="col-lg-3" style="vertical-align: middle;line-height: 30px;">{{pedido.vendedor.nomeFantasia}}</div>
				
				<div class="col-lg-1" style="vertical-align: middle;line-height: 30px;"><input type="text" ui-number-mask="2" ng-model="pedido.percentualComissaoVendedor" class="form-control" ng-change="calcularComissao(pedido)"></input></div>
				
				<div class="col-lg-1" style="vertical-align: middle;line-height: 30px;">{{pedido.valorComissaoVendedor | currency : "R$" : 2}}</div>
	
				<div class="col-lg-3" style="vertical-align: middle;line-height: 30px;">{{pedido.preposto.nomeFantasia}}</div>
				
				<div class="col-lg-1" style="vertical-align: middle;line-height: 30px;"><input type="text" ui-number-mask="2" ng-model="pedido.percentualComissaoPreposto" class="form-control" ng-change="calcularComissao(pedido)"></input></div>
	
				<div class="col-lg-1" style="vertical-align: middle;line-height: 30px;">{{pedido.valorComissaoPreposto | currency : "R$" : 2}}</div>
				
				<div class="col-lg-1" style="vertical-align: middle;line-height: 30px;"><input type="text" ui-number-mask="0" ng-model="pedido.dadosCartaoParcelas" class="form-control"></input></div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<button type="button" class="btn btn-novo" ng-click="salvar()"><i class="fas fa-plus"></i> &nbsp; Salvar alterações</button>
		</div>			
	</div>


</div>


