	<div class="content" ng-init="atualizarNomeTela('Produto')">
		<div class="row">
			<div class="col-lg-4">
				<button type="button" class="btn btn-novo"  onclick="$('#modal_edicao').modal('show');" ng-click="incluir()"><i class="fas fa-plus"></i> &nbsp; Incluir novo</button>
			</div>			
		</div>
		
	
		<table id="tabela-principal" data-toggle="table"
	       data-striped="true"
	       data-sortable="true"
	       data-classes="table table-striped table-hover"
	       data-refresh="true"
	       data-filter-control="true">
		    <thead>
		    <tr>
		    	<th data-field="codigo" data-sortable="true" data-filter-control="input">Código</th>
		        <th data-field="descricao" data-sortable="true" data-filter-control="input">Descrição</th>
		        <th data-formatter="duplicarProdutoFormatter" class="th-acao"></th>
		        <th data-formatter="editarFormatter" class="th-acao"></th>
		        <th data-formatter="excluirFormatter" class="th-acao"></th>
		    </tr>
		    </thead>
		</table>
		
	</div>
	
	<!-- Modais -->
	
    <div id="modal_edicao" class="modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Produto</h4>
          </div>
          <div class="modal-body" style="padding: 0px">
          
          	 <ul class="nav nav-tabs" role="tablist" style="padding-left: 25px; padding-top: 15px">
			    <li role="presentation" id="panel-dados" class="nav-link">		<a href="" ng-click="ativarDados()" 		aria-controls="dados" 			role="tab" data-toggle="tab">Dados</a></li>
				<li role="presentation" id="panel-variantes" class="nav-link">  <a href="" ng-click="ativarVariantes()"     aria-controls="variantes"       role="tab" data-toggle="tab">Cores</a></li>
			 </ul>              
              
			  <!-- Tab panes -->
			  <div class="tab-content">
			  
			  	<div role="tabpanel" class="tab-pane" id="tab-dados">
			  		<div class="row row-form row row-form-form">
			  			<div class="col-md-12 col-lg-12">
		            		<label class="label-form">Código</label>
		            		<input class="form-control" ng-model="registro.codigo" type="text"/>
		            	</div>
		            </div>
		            <div class="row row-form row row-form-form">
		            	<div class="col-md-12 col-lg-12">
		            		<label class="label-form">Descrição</label>
		            		<input class="form-control" ng-model="registro.descricao" type="text"/>
		            	</div>
		            </div>
		              
		            <div class="row row-form row row-form-form">
		                <div class="col-md-3">
		                	<label class="label-form">Preço unitário</label>
		                	<input class="form-control" ng-model="registro.precoUnitario" ui-number-mask="2"/>
		                </div>
	                </div>
	                
	                <div class="row row-form row row-form-form">
	                	<!--  
	                	<div class="col-lg-6">
		                	<label class="label-form">Status</label>
		                	<select class="form-control"  ng-options="item as item.descricao for item in statuses track by item.id" ng-model="registro.status">
			           			<option value="">---- SELECIONE ----</option>
			           		</select>   
	                	</div>
	                	-->
	                	<div class="col-lg-6">
		                	<label class="label-form">Categoria</label>
		                	<select class="form-control"  ng-options="item as item.descricao for item in categorias track by item.id" ng-model="registro.categoria">
			           			<option value="">---- SELECIONE ----</option>
			           		</select>   
			           	</div>
	                </div>
          		</div>

					<div  role="tabpanel" class="tab-pane" id="tab-variantes">
						<div class="row row-form">
							<div class="col-sm-12 col-md-10 col-lg-12">
								<label class="label-form">Cores</label> <select class="form-control" ng-options="item as item.descricao for item in variantes track by item.id" ng-model="variante.caracteristica">
									<option value="">---- SELECIONE ----</option>
								</select>
							</div>
						</div>
						<div class="row row-form">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<button class="btn btn-novo" ng-click="adicionarVariante()">Adicionar
								</button>
							</div>
						</div>

						<div class="row row-form">
							<div class="col-lg-12">
								<label class="label-form">Cores</label>
								<table id="tabela-variantes" data-toggle="table"
									data-striped="true" data-sortable="true"
									data-classes="table table-hover table-striped table-condensed"
									data-refresh="true">
									<thead>
										<tr>
											<th data-field="caracteristica.descricao" data-sortable="true">Descrição</th>
											<th data-formatter="excluirVarianteFormatter" valign="middle" align="center" class="th-span"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>          		
          		
          		
					<div  role="tabpanel" class="tab-pane" id="tab-marcas">
						<div class="row row-form">
							<div class="col-sm-12 col-md-10 col-lg-12">
								<label class="label-form">Marcas</label> 
								<select class="form-control" ng-options="item as item.descricao for item in marcas track by item.id" ng-model="marca.caracteristica">
									<option value="">---- SELECIONE ----</option>
								</select>
							</div>
						</div>
						<div class="row row-form">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<button class="btn btn-novo" ng-click="adicionarMarca()">Adicionar
								</button>
							</div>
						</div>

						<div class="row row-form">
							<div class="col-lg-12">
								<label class="label-form">Marcas</label>
								<table id="tabela-marcas" data-toggle="table"
									data-striped="true" data-sortable="true"
									data-classes="table table-hover table-striped table-condensed"
									data-refresh="true">
									<thead>
										<tr>
											<th data-field="caracteristica.descricao" data-sortable="true">Descrição</th>
											<th data-formatter="excluirMarcaFormatter" valign="middle" align="center" class="th-span"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>            		
          		
          		
          		<div role="tabpanel" class="tab-pane" id="tab-imagens" >		  		
					<div class="row row-form">
						<div class="col-md-3 col-lg-3">
							<img src="{{srcImagemPrincipal}}" style="width: 100%;" class="img-responsive">
						</div>
						<div class="form-group col-md-9 col-lg-9">
							<input style="visibility:hidden;" id="imgPrincipal"type="file" ng-model="file" onchange="angular.element(this).scope().converterArquivo(this)">
						</div>
	                </div>
		            <div class="row row-form">
						<div class="col-lg-12">
							<button class="btn btn-success" onclick="$('#imgPrincipal').click()">Alterar imagem Principal</button>
							<button class="btn btn-success pull-right" onclick="$('#imgSecundaria').click()">Adicionar imagem Secundária</button>
							<input style="visibility:hidden;" id="imgSecundaria" type="file" ng-model="file" onchange="angular.element(this).scope().converterArquivoSecundaria(this)">		            		
							<table id="tabela-imagens" data-toggle="table"
						       data-striped="true"
						       data-sortable="true"
						       data-classes="table table-hover table-condensed"
						       data-refresh="true">
							    <thead>
							    <tr>
							    	<th data-field="bytes" data-formatter="imageFormatter">Imagem</th>
							    	<th data-formatter="excluirImagemFormatter" valign="middle" align="center"></th>
							    </tr>
							    </thead>
							</table>							
						</div>
		            </div>		              
          		</div>          		
          		
          	</div>
          	
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-salvar" ng-click="salvar()">Salvar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>




	<!-- Modais -->

	<div id="modal_duplicar" class="modal">
		<div class="modal-dialog" style="width: 80%;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Duplicar Produto</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding: 0px">

			  		<div class="row row-form">
			  			<div class="col-md-12 col-lg-12">
		            		<label class="label-form">Código</label>
		            		<input class="form-control" ng-model="novo.codigo" type="text"/>
		            	</div>
		            </div>
		            <div class="row row-form">
		            	<div class="col-md-12 col-lg-12">
		            		<label class="label-form">Descrição</label>
		            		<input class="form-control" ng-model="novo.descricao" type="text"/>
		            	</div>
		            </div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-salvar" ng-click="duplicarProduto()">Salvar</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
