	<div class="content" ng-init="atualizarNomeTela('Status')">
	
		<div class="row">
			<div class="col-lg-4">
				<button type="button" class="btn btn-novo"
					onclick="$('#modal_edicao').modal('show');">
					<i class="fas fa-plus"></i> &nbsp; Incluir novo
				</button>
			</div>
		</div>

		<table id="tabela-principal" data-toggle="table" data-url="WS/Status"
			data-striped="true" data-sortable="true"
			data-classes="table table-striped table-hover" data-refresh="true"
			data-filter-control="false">
			<thead>
				<tr>
					<th data-field="descricao" data-sortable="true" data-filter-control="input">Descrição</th>
					<th data-formatter="editarFormatter" class="th-acao"></th>
					<th data-formatter="excluirFormatter" class="th-acao"></th>
				</tr>
			</thead>
		</table>

	</div>

	<!-- Modais -->

        <div id="modal_edicao" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
	                <h4 class="modal-title">Status</h4>
	              </div>
              <div class="modal-body" style="padding: 0" ng-form="formCadastro">            
	              
	              <div class="row row-form">
		              <div class="col-lg-12">
		                <label class="label-form" for="itDescricao"> Descrição</label>
		                <input id="itDescricao" class="form-control"  ng-model="registro.descricao" dc-not-empty type="text"/>
		              </div>
		           </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-salvar" ng-click="salvar()">Salvar</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
