

<div class="content" ng-init="atualizarNomeTela('Cores')">

		<div class="row">
			<div class="col-lg-4">
				<button type="button" class="btn btn-novo" ng-click="incluir()">Incluir novo</button>
			</div>
		</div>

	<table id="tabela-principal" data-toggle="table"
		data-url="WS/Caracteristica/Tipo/C" data-striped="true"
		data-sortable="true" data-classes="table table-hover table-striped table-condensed"
		data-refresh="true">
		<thead>
			<tr>
				<th data-field="id" data-sortable="true">Id</th>
				<th data-field="descricao" data-sortable="true">Descrição</th>
				<th data-field="situacao" data-formatter="acertarSituacao" data-sortable="true">Situação</th>
				<th data-formatter="editarFormatter" class="th-span"></th>
				<th data-formatter="excluirFormatter" class="th-span"></th>
			</tr>
		</thead>
	</table>

</div>

<!-- Modais -->

<div id="modal_edicao" class="modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Cor <small>{{registro.descricao}}</small></h4>
			</div>
			<div class="modal-body">
				<div class="row row-form">
					<div class="col-lg-12">
						<label class="label-form">Descrição</label> 
						<input class="form-control" ng-model="registro.descricao" type="text" />
					</div>
				</div>
						
				<div class="row row-form">
					<div class="col-md-6 col-lg-6">
						<img src={{srcImagem}} style="width: 100%;" class="img-responsive">
						<button class="btn btn-success" onclick="$('#fileImagem').click()">Alterar imagem</button>
					</div>
					<div class="form-group col-md-9 col-lg-9">
						<input style="visibility: hidden;" id="fileImagem" type="file"
							ng-model="file"
							onchange="angular.element(this).scope().converterArquivo(this)">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-salvar" ng-click="salvar()">Salvar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<div id="modal_bloqueios" class="modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title">Bloqueios</h4>
			</div>
			<div class="modal-body">
				<div class="row row-form">
					<div class="col-lg-8">
						<select class="form-control"
							ng-model="bloqueio.caracteristicaBloqueada"
							ng-options="item as item.descricao for item in caracteristicasTemp track by item.id">
							<option value="">----SELECIONE----</option>
						</select>
					</div>
					<div class="col-lg-4">
						<button type="button" class="btn btn-warning"
							ng-click="adicionarBloqueio()">Incluir</button>
					</div>
				</div>
				<div class="row row-form" ng-repeat="item in bloqueadas"
					style="height: 30px; border-bottom: 1px solid gray">
					<div class="col-lg-10">
						{{item.caracteristicaBloqueada.descricao}}</div>
					<div class="col-lg-2">
						<button type="button" class="btn btn-danger"
							style="height: 20px; width: 20px; padding: 0;"
							ng-click="excluirBloqueio(item.id)">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"
					data-dismiss="modal">Cancelar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
