
<div class="content">

	<div class="row">
		<div class="col-lg-4">
			<button type="button" class="btn btn-novo" ng-click="incluir()">Incluir novo</button>
		</div>
	</div>

	<table id="tabela-principal" data-toggle="table"
		data-striped="true" data-sortable="true"
		data-classes="table table-hover table-striped table-condensed" data-refresh="true">
		<thead>
			<tr>
				<th data-field="nomeFantasia" data-sortable="true">Nome</th>
				<th data-field="nomeContato" data-sortable="true">Contato</th>
				<th data-field="emailContato" data-sortable="true">E-mail</th>
				<th data-formatter="editarFormatter" class="th-span"></th>
				<th data-formatter="excluirFormatter" class="th-span"></th>
			</tr>
		</thead>
	</table>

</div>

<!-- Modais -->



<div id="modal_edicao" class="modal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">				
				<h4 class="modal-title">Vendedor <small>{{registro.nomeFantasia}}</small></h4>
			</div>
			<div class="modal-body" style="padding: 0">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" style="padding-left: 25px; padding-top: 15px">
					<li class="nav-item" role="presentation" id="panel-dados" class="active"><a
						class="nav-link" href="" aria-controls="dados"
						onclick="$('#tab-enderecos').hide(); $('#tab-dados').show();"
						role="tab" data-toggle="tab">Dados</a></li>
					<li class="nav-item" role="presentation" id="panel-endereco"><a href=""
						class="nav-link" onclick="$('#tab-dados').hide(); $('#tab-enderecos').show();"
						aria-controls="enderecos" role="tab" data-toggle="tab">Endereços</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">

					<div role="tabpanel" class="tab-pane active" id="tab-dados">
						<div class="row row-form">
							<div class="col-sm-6 col-md-6">
								<label class="label-form">Nome fantasia</label> 
								<input class="form-control" max-length="256" ng-model="registro.nomeFantasia" type="text" />
							</div>
							<div class="col-sm-6 col-md-6">
								<label class="label-form">Razão social</label> <input class="form-control" max-length="512ss"
									ng-model="registro.razaoSocial" type="text" />
							</div>
						</div>

						<div class="row row-form">
							<div class="col-sm-4 col-md-4">
								<label class="label-form">CPF/CNPJ</label>
								<input class="form-control cpfcnpj" ng-model="registro.cpfCnpj" type="text" />
							</div>
							<div class="col-sm-4 col-md-4">
								<label class="label-form">Insc. Estadual</label> 
								<input class="form-control" ng-model="registro.inscricaoEstadual" type="text" />
							</div>									
							<div class="col-sm-4 col-md-4">
								<label class="label-form">Nome do contato</label> 
								<input class="form-control" max-length="128" ng-model="registro.nomeContato" type="text" />
							</div>
						</div>

						<div class="row row-form">
							<div class="col-sm-6 col-md-6">
								<label class="label-form">E-mail do contato</label> <input class="form-control" max-length="256"
									ng-model="registro.emailContato" type="text" />
							</div>
							<div class="col-sm-6 col-md-6">
								<label class="label-form">E-mail da NF-e</label> <input class="form-control" max-length="256"
									ng-model="registro.emailNfe" type="text" />
							</div>							
						</div>

						<div class="row row-form">
							<div class="col-sm-4 col-md-4">
								<label class="label-form">Comercial 1</label> <input
									class="form-control telefone"
									ng-model="registro.telefoneResidencial" />
							</div>
							<div class="col-sm-4 col-md-4">
								<label class="label-form">Comercial 2</label> <input
									class="form-control telefone"
									ng-model="registro.telefoneComercial" />
							</div>
							<div class="col-sm-4 col-md-4">
								<label class="label-form">Celular</label> <input
									class="form-control celular" ng-model="registro.celular" />
							</div>
						</div>

					</div>


					<div role="tabpanel" class="tab-pane" id="tab-enderecos">

						<div class="row row-form">
							<div class="col-sm-8 col-md-8">
								<label class="label-form">Endereço</label> 
								<input class="form-control" max-length="256" ng-model="endereco.endereco" type="text" id="txtEndereco" />
							</div>
							<div class="col-sm-4 col-md-4">
								<label class="label-form">CEP</label> <input class="form-control cep"
									ng-model="endereco.cep" type="text" maxlength="9" />
							</div>
						</div>
						<div class="row row-form">
							<div class="col-sm-8 col-md-8">
								<label class="label-form">Bairro</label> <input class="form-control" max-length="128"
									ng-model="endereco.bairro" type="text" />
							</div>
							<div class="col-sm-4 col-md-4">
								<label class="label-form">Número</label> <input class="form-control" max-length="6"
									ng-model="endereco.numero" type="number" />
							</div>
						</div>
						<div class="row row-form">
							<div class="col-sm-4 col-md-4">
								<label class="label-form">Cidade</label> <select class="form-control"
									ng-options="item as item.descricao for item in cidades track by item.id"
									ng-model="endereco.cidade">
								</select>
							</div>
							<div class="col-sm-4 col-md-4">
								<label class="label-form">Tipo endereço</label> <select class="form-control"
									ng-model="endereco.tipo">
									<option value="F">Faturamento</option>
									<option value="E">Entrega</option>
									<option value="C">Cobrança</option>
								</select>
							</div>
						</div>
						<div class="row row-form">
							<div class="col-sm-9 col-md-9">
								<label class="label-form">Complemento</label> 
								<input class="form-control" max-length="256" ng-model="endereco.complemento" type="text" />
							</div>
							<div class="col-sm-3 col-md-3">
								<button type="button" class="btn btn-primary"
									ng-click="incluirEndereco()" style="margin-top: 25px">Adicionar</button>
							</div>
						</div>

						<div class="row row-form">
							<div class="col-sm-12 col-md-12">

								<table id="tabela-endereco-vendedor" data-toggle="table"
									data-striped="true"
									data-classes="table table-hover table-condensed">
									<thead>
										<tr>
											<th data-field="endereco" data-sortable="true">Endereço</th>
											<th data-field="cep" data-sortable="true">CEP</th>
											<th data-field="bairro" data-sortable="true">Bairro</th>
											<th data-field="numero" data-sortable="true">Nr.</th>
											<th data-field="cidade.descricao" data-sortable="true">Cidade</th>
											<th data-field="tipo" data-formatter="acertarTipoEndereco" data-sortable="true">Tipo</th>
											<th data-field="complemento" data-sortable="true">Complemento</th>
											<th data-formatter="excluirEnderecoFormatter" class="th-acao"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>

					</div>

				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-fechar pull-left" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-salvar" ng-click="salvar()">Salvar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>